<!DOCTYPE html>
<html lang="en">
  <head>
    <title>我的课程</title>
    <meta charset="UTF-8">
    <meta time="viewport" content="width=device-width, initial-scale=1, user-scalable=no,maximum-scale=1,minimum-scale=1">
  </head>
  <body>
    <script>
      document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
    </script>
    <div class="my-course">
      <div class="m-item">
        <div class="m-tit">
          <div class="m-tab">
            <div class="course selected" id="advance">预约中的课程(12)</div>
            <div class="line"></div>
            <div class="course" id="finished">已完成的课程(12)</div>
          </div>
        </div>
        <div class="m-cont">
          <div class="m-list advance-list selected">
            <a href="#" class="list">
              <div class="class-time">体验课</div>
              <div class="class-info">
                <span class="class-info-d">2017-11-15</span>
                <span class="class-info-d">星期三</span>
                <span class="class-info-d">08:00～08:30</span>
              </div>
            </a>
            <a href="#" class="list">
              <div class="class-time">30分钟课程</div>
              <div class="class-info">
                <span class="class-info-d">2017-11-15</span>
                <span class="class-info-d">星期三</span>
                <span class="class-info-d">08:00～08:30</span>
              </div>
            </a>
            <a href="#" class="list">
              <div class="class-time">30分钟课程</div>
              <div class="class-info">
                <span class="class-info-d">2017-11-15</span>
                <span class="class-info-d">星期三</span>
                <span class="class-info-d">08:00～08:30</span>
              </div>
            </a>
          </div>
          <div class="m-list finished-list">
            <a href="#" class="list">
              <div class="class-time">已完成的体验课</div>
              <div class="class-info">
                <span class="class-info-d">2017-11-15</span>
                <span class="class-info-d">星期三</span>
                <span class="class-info-d">08:00～08:30</span>
              </div>
            </a>
            <a href="#" class="list">
              <div class="class-time">30分钟课程</div>
              <div class="class-info">
                <span class="class-info-d">2017-11-15</span>
                <span class="class-info-d">星期三</span>
                <span class="class-info-d">08:00～08:30</span>
              </div>
            </a>
            <a href="#" class="list">
              <div class="class-time">30分钟课程</div>
              <div class="class-info">
                <span class="class-info-d">2017-11-15</span>
                <span class="class-info-d">星期三</span>
                <span class="class-info-d">08:00～08:30</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>