<!DOCTYPE html>
<html lang="en">
  <head>
    <title>精选课程</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no,maximum-scale=1,minimum-scale=1">
  </head>
  <body>
    <script>
      document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
    </script>
    <div class="buy-course">
      <div class="m-item">
        <div class="buy-sec">
          <div class="title">
            <div class="name">少儿钢琴课(30分钟／次)</div>
            <div class="desc">钢琴入门学习，培养孩子的音乐感觉，钢琴兴趣。</div>
          </div>
          <div class="course-list">
            <div class="avatar">
              <img src="../img/avatar.jpg" alt="">
            </div>
            <div class="content">
              <div class="count">25次套餐包<span>约199/次</span></div>
              <div class="price">
                ¥4599
                <span class="discount">¥4999</span>
                <span class="msk"></span>
              </div>
            </div>
            <div class="btn">购买</div>
          </div>
          <div class="course-list">
            <div class="avatar">
              <img src="../img/avatar.jpg" alt="">
            </div>
            <div class="content">
              <div class="count">25次套餐包<span>约199/次</span></div>
              <div class="price">
                ¥4599
                <span class="discount">¥4999</span>
                <span class="msk"></span>
              </div>
            </div>
            <div class="btn">购买</div>
          </div>
        </div>
        <div class="buy-sec">
          <div class="title">
            <div class="name">少儿钢琴课(30分钟／次)</div>
            <div class="desc">钢琴入门学习，培养孩子的音乐感觉，钢琴兴趣。</div>
          </div>
          <div class="course-list">
            <div class="avatar">
              <img src="../img/avatar.jpg" alt="">
            </div>
            <div class="content">
              <div class="count">25次套餐包<span>约199/次</span></div>
              <div class="price">
                ¥4599
                <span class="discount">¥4999</span>
                <span class="msk"></span>
              </div>
            </div>
            <div class="btn">购买</div>
          </div>
          <div class="course-list">
            <div class="avatar">
              <img src="../img/avatar.jpg" alt="">
            </div>
            <div class="content">
              <div class="count">25次套餐包<span>约199/次</span></div>
              <div class="price">
                ¥4599
                <span class="discount">¥4999</span>
                <span class="msk"></span>
              </div>
            </div>
            <div class="btn">购买</div>
          </div>
          <div class="course-list">
            <div class="avatar">
              <img src="../img/avatar.jpg" alt="">
            </div>
            <div class="content">
              <div class="count">25次套餐包<span>约199/次</span></div>
              <div class="price">¥4599</div>
            </div>
            <div class="btn">购买</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
