<!DOCTYPE html>
<html lang="en">
  <head>
    <title>精选课程</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no,maximum-scale=1,minimum-scale=1">
  </head>
  <body>
    <script>
      document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
    </script>
    <div class="buy-course buy-result">
      <div class="m-item">
        <div class="buy-sec">
          <div class="title">
            <div class="name">订单确认</div>
          </div>
          <div class="course-list">
            <div class="avatar">
              <img src="../img/avatar.jpg" alt="">
            </div>
            <div class="content">
              <div class="count">25次套餐包<span>约199/次</span></div>
              <div class="price">
                ¥4599
                <span class="discount">¥4999</span>
                <span class="msk"></span>
              </div>
              <div class="class-count">课时次数：25次</div>
              <div class="class-time">课程时长：30分钟／次</div>
            </div>
          </div>
          <div class="comfirm">确认支付</div>
          <div class="agree-buy">
            点击“确认支付”按钮，即表示您阅读并同意<a href="#">《某某某协议》</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>