<!DOCTYPE html>
<html lang="en">
  <head>
    <title>松鼠钢琴课</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no,maximum-scale=1,minimum-scale=1">
  </head>
  <body>
    <script>
      document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
    </script>
    <div class="experience">
      <div class="m-item">
        <div class="m-banner">
          <img src="../img/banner.png" alt="">
        </div>
        <div class="m-cont">
          <form class="m-form">
            <div class="input-cont">
              <input type="tel" id="mobile" placeholder="请输入您的手机号">
            </div>
            <div class="input-cont ip-inline">
              <div class="code">
                <input type="text" id="code" placeholder="短信验证码">
              </div>
              <div class="code-btn">
                <button type="button" id="getCode">获取验证码</button>
              </div>
            </div>
            <div class="input-cont ip-login">
              <button type="button" id="confirm">立即免费领取</button>
            </div>
          </form>
        </div>
        <div class="m-sec">
          <img src="../img/bgg.png" alt="">
          <div class="m-footer" id="getNow">
            <img src="../img/btn.png" alt="">
          </div>
        </div>
        
      </div>
    </div>
  </body>
</html>