<!DOCTYPE html>
<html lang="en">
  <head>
    <title>课程详情</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no,maximum-scale=1,minimum-scale=1">
  </head>
  <body>
    <script>
      document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
    </script>
    <div class="course-detail course-table-detail">
      <div class="m-item">
        <div class="m-card course-list">
          <div class="title">30分钟课程</div>
          <div class="desc">
            <div class="list time">2017-11-15   星期三   08:00～08:30 </div>
          </div>
        </div>
        <div class="m-card info-list">
          <div class="title">学生信息</div>
          <div class="info stu-info">
            <div class="item stu-name">姓名：Andy</div>
            <div class="item stu-sex">性别：女</div>
            <div class="item stu-age">年龄：6岁</div>
            <div class="item stu-code">上课码：458753</div>
          </div>
        </div>
        <div class="m-card info-list">
          <div class="title">近期课程</div>
          <div class="course-list-time">
            <div class="times">08:00～08:30</div>
            <div class="times">08:00～08:30</div>
            <div class="times">08:00～08:30</div>
            <div class="times">08:00～08:30</div>
            <div class="times">08:00～08:30</div>
            <div class="times">08:00～08:30</div>
            <div class="times">08:00～08:30</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>