<!DOCTYPE html>
<html lang="en">
  <head>
    <title>课程详情</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no,maximum-scale=1,minimum-scale=1">
  </head>
  <body>
    <div class="course-detail">
      <div class="m-item">
        <div class="m-card course-list">
          <div class="title">30分钟课程</div>
          <div class="desc">
            <div class="list time">2017-11-15   星期三   08:00～08:30 </div>
            <div class="list teacher">孙老师</div>
          </div>
        </div>
        <div class="m-card info-list">
          <div class="title">老师信息</div>
          <div class="info">
            <img src="../img/avatar.jpg" alt="">
            <div class="">
              <div class="name">孙老师</div>
              <div class="school">中国音乐学院</div>
            </div>
          </div>
          <div class="desc">中国院教授，课堂风格比较严厉，但对学生的指导直达要点。教学经验丰富，blablabla，陪练效果广受好评。</div>
        </div>
        <div class="m-card operate-list">
          <div class="title">课程操作</div>
          <div class="operate">
            <button type="button" class="btn">调课</button>
            <button type="button" class="btn">请假</button>
          </div>
        </div>
      </div>
      <div class="m-footer">
        提示：调课或请假至少提前6小时发起
      </div>
    </div>
  </body>
</html>