<!DOCTYPE html>
<html lang="en">
  <head>
    <title>课程详情</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no,maximum-scale=1,minimum-scale=1">
  </head>
  <body>
    <script>
      document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
    </script>
    <div class="course-detail">
      <div class="m-item">
        <div class="m-card course-list">
          <div class="title">30分钟课程</div>
          <div class="desc">
            <div class="list time">2017-11-15   星期三   08:00～08:30 </div>
            <div class="list teacher">孙老师</div>
          </div>
        </div>
        <div class="m-card report-list">
          <div class="title">学习报告</div>
          <div class="content">
            <div class="r-list progress">
              <div class="tit">课程进度</div>
              <div class="desc">第一节</div>
            </div>
            <div class="r-list song">
              <div class="tit">学习曲目</div>
              <div class="desc">复习《小汤一》至《自新大陆交响曲》</div>
            </div>
            <div class="r-list know">
              <div class="tit">学习知识</div>
              <div class="desc">复习右手音区音符的识别方法。复习基本音符的节拍。</div>
            </div>
            <div class="r-list situation">
              <div class="tit">上课情况</div>
              <div class="desc">学员对音符的识别方法有一些遗忘，没有数节拍的习惯。</div>
            </div>
            <div class="r-list work">
              <div class="tit">课后作业</div>
              <div class="desc">《自新大陆交响曲》</div>
              <div class="img-con">
                <div class="img-item">
                  <img src="../img/avatar.jpg" alt="">
                </div>
                <div class="img-item">
                  <img src="../img/avatar.jpg" alt="">
                </div>
                <div class="img-item">
                  <img src="../img/avatar.jpg" alt="">
                </div>
                <div class="img-item">
                  <img src="../img/avatar.jpg" alt="">
                </div>
                <div class="img-item">
                  <img src="../img/avatar.jpg" alt="">
                </div>
                <div class="img-item">
                  <img src="../img/avatar.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="r-list proposal">
              <div class="tit">练习建议</div>
              <div class="desc">复习高音谱号五个音的位置，复习长音符的数拍方法。</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>