<!DOCTYPE html>
<html lang="en">
  <head>
    <title>我的课表</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no,maximum-scale=1,minimum-scale=1">
  </head>
  <body>
    <script>
      document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
    </script>
    <div class="my-course course-table">
      <div class="m-item">
        <div class="m-tit m-date-tab time-picker" id="date">

        </div>
        <div class="m-cont course-list-content">
          <div class="m-list selected">
            <a href="#" class="list">
              <div class="class-name">08:00～08:30</div>
              <div class="class-info">体验课   学生：Andy 
              </div>
            </a>
            <a href="#" class="list">
              <div class="class-name">12:00～12:30</div>
              <div class="class-info">30分钟课程   学生：Sandy 
              </div>
            </a>
            <a href="#" class="list">
              <div class="class-name">14:00～14:30</div>
              <div class="class-info">30分钟课程    学生：Alex  
              </div>
            </a>
          </div>
          <div class="m-list">
            <a href="#" class="list">
              <div class="class-name">08:00～08:30</div>
              <div class="class-info">aaaa
              </div>
            </a>
            <a href="#" class="list">
              <div class="class-name">12:00～12:30</div>
              <div class="class-info">30分钟课程   学生：Sandy 
              </div>
            </a>
            <a href="#" class="list">
              <div class="class-name">14:00～14:30</div>
              <div class="class-info">30分钟课程    学生：Alex  
              </div>
            </a>
          </div>
          <div class="m-list">
            <a href="#" class="list">
              <div class="class-name">08:00～08:30</div>
              <div class="class-info">bbbbb
              </div>
            </a>
            <a href="#" class="list">
              <div class="class-name">12:00～12:30</div>
              <div class="class-info">30分钟课程   学生：Sandy 
              </div>
            </a>
            <a href="#" class="list">
              <div class="class-name">14:00～14:30</div>
              <div class="class-info">30分钟课程    学生：Alex  
              </div>
            </a>
          </div>
          <div class="m-list">
            <a href="#" class="list">
              <div class="class-name">08:00～08:30</div>
              <div class="class-info">cccc
              </div>
            </a>
            <a href="#" class="list">
              <div class="class-name">12:00～12:30</div>
              <div class="class-info">30分钟课程   学生：Sandy 
              </div>
            </a>
            <a href="#" class="list">
              <div class="class-name">14:00～14:30</div>
              <div class="class-info">30分钟课程    学生：Alex  
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>