<!DOCTYPE html>
<html lang="en">
  <head>
    <title>我的课程</title>
    <meta charset="UTF-8">
    <meta time="viewport" content="width=device-width, initial-scale=1, user-scalable=no,maximum-scale=1,minimum-scale=1">
  </head>
  <body>
    <script>
      document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
    </script>
    <div class="my-course no-course">
      <div class="m-item">
        <div class="m-tit">
          <div class="m-tab">
            <div class="course selected" id="advance">预约中的课程(0)</div>
            <div class="line"></div>
            <div class="course" id="finished">已完成的课程(0)</div>
          </div>
        </div>
        <div class="m-cont">
          <div class="mask"></div>
          <div class="desc">
            暂无课程
          </div>
        </div>
      </div>
    </div>
  </body>
</html>