<!DOCTYPE html>
<html lang="en">
  <head>
    <title>支付成功</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no,maximum-scale=1,minimum-scale=1">
  </head>
  <body>
    <script>
      document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
    </script>
    <div class="reserve-course course-success pay-success">
      <div class="m-item">
        <div class="card">
          <div class="mask"></div>
          <div class="desc">
            <div class="title">支付成功</div>
            <p>您可以在【我的课程】里预约上课</p>
          </div>
        </div>
        <div class="show-more">现在就去预约上课</div>
      </div>
      <div class="m-footer">
        咨询电话：010-59453732 <span class="call">拨打</span>
      </div>
    </div>
  </body>
</html>