<!DOCTYPE html>
<html lang="en">
  <head>
    <title>预约课程</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no,maximum-scale=1,minimum-scale=1">
  </head>
  <body>
    <div class="reserve-course course-success">
      <div class="m-item">
        <div class="card">
          <div class="mask"></div>
          <div class="desc">
            <div class="title">您已预约体验课</div>
            <p>课管老师会尽快与您联系<br>点击【返回】在【我的课程】里查看预约详情。</p>
          </div>
        </div>
        <div class="card">
          <div class="m-qr">
            <img src="../img/qr.jpg" alt="">
          </div>
          <div class="desc">
            <p>扫码添加您的专属课管老师预约课程</p>
          </div>
        </div>
      </div>
      <div class="m-footer">
        咨询电话：010-59453732 <span class="call">拨打</span>
      </div>
    </div>
  </body>
</html>