<!DOCTYPE html>
<html lang="en">
  <head>
    <title>预约课程</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no,maximum-scale=1,minimum-scale=1">
  </head>
  <body>
    <div class="reserve-course">
      <div class="m-item">
        <div class="mask"></div>
        <div class="desc">
          您暂无可预约的课程
        </div>
        <div class="show-more">了解更多松鼠钢琴课程</div>
      </div>
      <div class="m-footer">
        咨询电话：010-59453732 <span class="call">拨打</span>
      </div>
    </div>
  </body>
</html>