<!DOCTYPE html>
<html lang="en">
  <head>
    <title>预约课程</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no,maximum-scale=1,minimum-scale=1">
  </head>
  <body>
    <div class="course-time qrcode">
      <div class="m-item">
        <div class="m-header">
          <div class="content-wrap">
            <div class="avatar">
              <img src="../img/avatar.jpg" alt="">
            </div>
            <div class="content">
              <div class="class-title">松鼠钢琴体验课</div>
              <div class="class-time">课程时长：30分钟</div>
            </div>
          </div>
          <div class="desc-wrap">课程简介：钢琴入门学习，培养孩子学琴兴趣。</div>
          <div class="background-wrap">
            <div class="background">
              <img src="../img/background.png" alt="">
            </div>
          </div>
        </div>
        <div class="m-content">
          <div class="m-box">
            <div class="title">预约时间</div>
          </div>
          <div class="m-box">
            <div class="m-code">
              <img src="../img/qr.jpg" alt="">
            </div>
            <div class="desc">扫码添加您的专属课管老师预约课程</div>
          </div>
        </div>
        <div class="m-footer">
          咨询电话：010-59453732 <span class="call">拨打</span>
        </div>
      </div>
    </div>
  </body>
</html>