<!DOCTYPE html>
<html lang="en">
  <head>
    <title>预约课程</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no,maximum-scale=1,minimum-scale=1">
  </head>
  <body>
    <script>
      document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
    </script>
    <div class="course-time">
      <div class="m-item">
        <div class="m-header">
          <div class="content-wrap">
            <div class="avatar">
              <img src="../img/avatar.jpg" alt="">
            </div>
            <div class="content">
              <div class="class-title">松鼠钢琴体验课</div>
              <div class="class-time">课程时长：30分钟</div>
            </div>
          </div>
          <div class="desc-wrap">课程简介：钢琴入门学习，培养孩子学琴兴趣。</div>
          <div class="background-wrap">
            <div class="background">
              <img src="../img/background.png" alt="">
            </div>
          </div>
        </div>
        <div class="m-content">
          <div class="m-box">
            <div class="title">预约时间</div>
            <div class="m-date-tab time-picker" id="date">
            </div>
          </div>
          <div class="m-box">
            <div class="m-time time-picker" id="time">
              <div class="times">
                <input type="radio" name="time" value="08:00～08:30" id="08:00～08:30">
                <label class="default" for="08:00～08:30">08:00～08:30</label>
              </div>
              <div class="times full">
                <input type="radio" name="time" value="08:30～09:00" id="08:30～09:00">
                <label class="default" for="08:30～09:00">08:30～09:00</label>
              </div>
              <div class="times">
                <input type="radio" name="time" value="09:00～09:30" id="09:00～09:30">
                <label class="default" for="09:00～09:30">09:00～09:30</label>
              </div>
              <div class="times">
                <input type="radio" name="time" value="123" id="123">
                <label class="default" for="123">123</label>
              </div>
              <div class="times">
                <input type="radio" name="time" value="234" id="234">
                <label class="default" for="234">234</label>
              </div>
              <div class="times">
                <input type="radio" name="time" value="345" id="345">
                <label class="default" for="345">345</label>
              </div>
              <div class="times">
                <input type="radio" name="time" value="456" id="456">
                <label class="default" for="456">456</label>
              </div>
              <div class="times">
                <input type="radio" name="time" value="567" id="567">
                <label class="default" for="567">567</label>
              </div>
              <div class="times">
                <input type="radio" name="time" value="678" id="678">
                <label class="default" for="678">678</label>
              </div>
              <div class="times">
                <input type="radio" name="time" value="789" id="789">
                <label class="default" for="789">789</label>
              </div>
            </div>
          </div>
          <div class="m-btns" id="confirm">预约</div>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>