@import './index.less';

.g-bd{
  padding:0 .34rem;
  .m-item{
    padding-top: 1.06rem;
    .m-tit{
      margin-bottom: 1.16rem;
      text-align: center;
      .title{
        font-size: .48rem;
        color: #FFA238;
        letter-spacing: 0;
      }
      .role{
        font-size: .24rem;
        color: #FFA238;
        position: relative;
        &:before{
          content: '';
          position: absolute;
          left: .74rem;
          top: 50%;
          width: .74rem;
          height: .06rem;
          background-image: linear-gradient(90deg, rgba(255,162,56,0.00) 0%, #FFA238 100%);
        }
        &:after{
          content: '';
          position: absolute;
          right: .74rem;
          top: 50%;
          width: .74rem;
          height: .1rem;
          background-image: linear-gradient(-90deg, rgba(255,162,56,0.00) 0%, #FFA238 100%);
        }
      }
    }
    .m-cont{
      font-size: .28rem;
      .top{
        padding: 0 .2rem;
      }
      .input-cont{
        width: 100%;
        .border-1px(1px;#F0F0F0);
        display: flex;
        align-items: center;
        &.ip-inline{
          justify-content: space-between;
        }
        &.ip-login{
          padding: 0;
          background: #FFA238;
          border-radius: 6px;
          color: #fff;
          font-size: .32rem;
          height: .8rem;
          line-height: .8rem;
          margin-top: 1.16rem;
          text-align: center;
          display: flex;
          justify-content: center;
          .border-none();

        }
        label{
          flex: 0 0 1.2rem;
          width: 1.2rem;
          text-align: left;
        }
        input{
          flex:1;
          -webkit-appearance: none;
          outline: none;
          height: 1rem;
          line-height: 1rem;
          box-sizing: border-box;
          display: inline-block;
          border: none;
          color: #979797;
        }
        button{
          outline: none;
          border:none;
          background: transparent;
          width: 100%;
        }
        .code{
          display: flex;
          align-items: center;
        }
        .code-btn{
          flex:0 0 1.6rem;
          text-align: center;
          width: 1.6rem;
          height: .52rem;
          line-height: .52rem;
          font-size: .24rem;
          color: #FFA238;
          border: 1px solid #FFA238;
          border-radius: 4px;
          vertical-align: middle;
        }
      }
    }
  }
}
